@page "/"
@using KubeTMS.Shared
@using KubeTMS.Shared.Domain
@inject HttpClient Http

<PageTitle>Shipments</PageTitle>

<h1>Shipments</h1>

@if (shipments == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Weight</th>
                <th>Pickup Date</th>
                <th>Customer</th>
                <th>Carrier</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var shipment in shipments)
            {
                <tr>
                    <td>@shipment.Id</td>
                    <td>@shipment.Origin</td>
                    <td>@shipment.Destination</td>
                    <td>@shipment.WeightInPounds</td>
                    <td>@shipment.PickupDate.Value.ToShortDateString()</td>
                    <td>@shipment.Customer.Name</td>
                    <td>@shipment.Carrier.Name (@shipment.Carrier.Scac)</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Shipment> shipments;

    protected override async Task OnInitializedAsync()
    {
        shipments = await Http.GetFromJsonAsync<List<Shipment>>("Shipments");
    }
}
